.student-action-btn {
  padding: 8px 14px;
  margin: 7px 4px;

  font-size: 16px;
  font-weight: 600;

  border-radius: 8px;
  border: none;
  cursor: pointer;

  transition: all 0.3s ease;
}


.btn-view {
  background: linear-gradient(135deg, #00b7ff87, #003cff94);
  color: white;
}

.btn-edit {
  background: linear-gradient(135deg, #00b7ff87, #003cff94);
  color: white;
}

.btn-fine {
  background: linear-gradient(135deg,#00b7ff87, #003cff94);
  color: white;
}

.btn-leave {
  background: linear-gradient(135deg, #00b7ff87, #003cff94);
  color: white;
}
.btn-allLeave {
  background: linear-gradient(135deg, #ff000098, #ff00008e);
  color: white;
}

.student-action-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.481);
  
}

.student-action-btn:active {
    background: rgba(20, 155, 218, 0);
    transform: scale(0.96);
    box-shadow: 0 0 10px rgb(0, 0, 0);
}


/* ==========================================
   TABLET
========================================== */
@media (max-width: 768px) {

  .student-action-btn {
    padding: 7px 12px;
    font-size: 14px;
    margin: 5px 3px;
  }

}


/* ==========================================
   MOBILE
========================================== */
@media (max-width: 576px) {

  .student-action-btn {
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    font-size: 14px;
  }

}


/* ==========================================
   SMALL MOBILE
========================================== */
@media (max-width: 375px) {

  .student-action-btn {
    font-size: 13px;
    padding: 8px;
  }

}
