/* -------------------------------------------
   Cards Layout (Flex + Wrap)
--------------------------------------------*/
.dashboard-three-cards {
  width: 100%;
  max-width: 1000px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 25px;
  
}

.dashboard-three-cards a,
.user-design a {
  text-decoration: none;
  color: inherit;
}
